body{
    overflow: hidden;
}

.my-row{
    display: flex;
    flex-direction: row-reverse;
}

.my-sidebar{
    width: 6rem;
}

.my-main-content{
    overflow-x: auto;
    height: 100vh;
}

@media (max-width: 750px){
    .my-row{
        display: flex;
        flex-direction:column;
    }
    .my-sidebar{
        height: 3rem;
        width: 100%;

        position: fixed;
        bottom: 0;
    }

    .my-main-content
    {
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .my-main-content::-webkit-scrollbar 
    {
        display: none;
    }

}