body{
    overflow: hidden;
}

.my-row{
    display: flex;
    flex-direction: row-reverse;
}

.my-sidebar{
    width: 5rem;

    display: flex;
    flex-direction: column;
}

.my-main-content{
    overflow-x: auto;
    height: 100vh;
}

.my-sidebar .brand{
    display: flex;
}

.my-sidebar .sidebar-nav{
    height: 4rem;
    width: 100%;
}

.my-sidebar .sidebar-nav i{
    font-size: 1.25rem; color: #202020;
}

.active{
    background-color: #42B8EA;
}
.my-sidebar .active i{
    color: #ffffff;
}
.inactive{
    background-color: #f8f9fa;
}
.inactive:hover{
    transition: 0.3s ease-in-out;
    background-color: #42B8EA;
}
.inactive:hover i{
    transition: 0.3s ease-in-out;
    color: #ffffff;
}

.Logo-txt {
    font-size: 1.25rem; 
    font-weight: bold;
    background: linear-gradient(to right, #3DE5B1, #42B1F6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    text-fill-color: transparent;
}

select:focus-within{
    outline-style: none;
}

.card-headline{
    display: flex;
}

.nav-name{
    display: block;
}

@media (max-width: 780px){
    .my-row{
        display: flex;
        flex-direction:column;
    }
    .my-sidebar{
        height: 4rem;
        width: 100%;

        position: fixed;
        bottom: 0;

        flex-direction: row;
        justify-content: center;
        align-items: center;

        border-style: none;
    }

    .my-main-content
    {
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .my-main-content::-webkit-scrollbar 
    {
        display: none;
    }

    .my-sidebar .brand{
        display: none;
    }

    .my-sidebar .sidebar-nav{
        justify-content: center;
        align-items: center;
        width: 5rem;
    }
    
    .my-sidebar .sidebar-nav i{
        font-size: 1rem;
    }

    select:focus-within{
        outline-style: none;
    }

    .card-headline{
        display: none;
    }

    .nav-name{
        display: none;
    }

    .search-bar{
        width: 8rem;
    }
}