@font-face{ font-family: "Poppins-Regular"; src: url(assets/Poppins-Regular.ttf); } 
@font-face{ font-family: "Poppins-Medium"; src: url(assets/Poppins-Medium.ttf); } 
@font-face{ font-family: "Righteous"; src: url(assets/Righteous-Regular.ttf); } 

@font-face{ font-family: "Montserrat-Regular"; src: url(assets/Montserrat-Regular.ttf); } 
@font-face{ font-family: "Montserrat-Medium"; src: url(assets/Montserrat-Medium.ttf); } 
@font-face{ font-family: "Montserrat-Bold"; src: url(assets/Montserrat-Bold.ttf); } 

span{ color: rgb(32, 32, 32); }

input
{
    outline-style: none;
    border-style: none;
    border: 1px solid rgb(160, 160, 160);
    width: 164px;
    height: 24px;
}
input[type="password"]::-ms-reveal, input[type="password"]::-webkit-textfield-decoration-container{
    display: none;
}

button:focus 
{
    border: none;
    outline: none;
}
