body{
    overflow: hidden;
}

.my-row{
    display: flex;
    flex-direction: row-reverse;
}

.my-sidebar{
    width: 5rem;
}
.my-sidebar form{
    width: 100%;

    display: flex;
    flex-direction: column;
}
.my-sidebar form .brand{
    display: flex;
}
.my-sidebar form .sidebar-nav{
    height: 4rem;
    width: 100%;
}
.my-sidebar form  .active{
    background-color: #42B8EA;
}
.my-sidebar form .active i{
    color: #ffffff;
}
.my-sidebar form  .inactive{
    background-color: #f8f9fa;
}
.my-sidebar form  .inactive:hover{
    transition: 0.3s ease-in-out;
    background-color: #ececec;
}
.my-sidebar form .active span{
    color: #ffffff;
}
.my-sidebar form .inactive span{
    color: #202020;
}
.my-sidebar form .nav-name{
    display: block;
}
.my-sidebar form span{
    font-size: 0.6rem;
}


@media (max-width: 780px){ 

    .my-sidebar{
        height: 3.5rem;
        width: 100%;

        position: fixed;
        bottom: 0;

        flex-direction: row;
        justify-content: center;
        align-items: center;

        border-style: none;
    }
    .my-sidebar form{
        width: 100%;

        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .my-sidebar form .brand{
        display: none;
    }
    .my-sidebar form .sidebar-nav{
        width: 5rem;
    }

}