body{
    overflow: hidden;
}

.my-row{
    display: flex;
    flex-direction: row-reverse;
}

.my-sidebar form{
    width: 5rem;

    display: flex;
    flex-direction: column;
}

.my-sidebar form .brand{
    display: flex;
}

.my-sidebar form .sidebar-nav{
    height: 4rem;
    width: 100%;
}

.my-sidebar form .sidebar-nav i{
    font-size: 1.25rem; color: #202020;
}

.active{
    background-color: #42B8EA;
}
.my-sidebar .active i{
    color: #ffffff;
}
.inactive{
    background-color: #f8f9fa;
}
.inactive:hover{
    transition: 0.3s ease-in-out;
    background-color: #ececec;
}
.inactive:hover i{
    transition: 0.3s ease-in-out;
    /* color: #ffffff; */
}
.sidebar-nav span{
    font-size: 0.4rem;
}

.active span{
    color: #ffffff;
}
.inactive span{
    color: #202020;
}

.nav-name{
    display: block;
}
@media (max-width: 780px){
    .my-sidebar{
        height: 4rem;
        width: 100%;

        position: fixed;
        bottom: 0;

        flex-direction: row;
        justify-content: center;
        align-items: center;

        border-style: none;
    }

    .my-sidebar .brand{
        display: none;
    }

    .my-sidebar .sidebar-nav{
        justify-content: center;
        align-items: center;
        width: 5rem;
    }
    
    .my-sidebar .sidebar-nav i{
        font-size: 1rem;
    }

    .nav-name{
        display: none;
    }
}