body{
    overflow: hidden;
}

.my-row{
    display: flex;
    flex-direction: row-reverse;
}

.my-main-content{
    overflow-x: auto;
    height: 100vh;
}

.Logo-txt {
    font-size: 1.25rem; 
    font-weight: bold;
    background: linear-gradient(to right, #3DE5B1, #42B1F6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    text-fill-color: transparent;
}

select:focus-within{
    outline-style: none;
}


@media (max-width: 780px){
    .my-row{
        display: flex;
        flex-direction:column;
    }

    .my-main-content
    {
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .my-main-content::-webkit-scrollbar 
    {
        display: none;
    }

    select:focus-within{
        outline-style: none;
    }
}

@media (max-width: 500px){ 
    .btn-txt{
        display: none;
    }
}